## 1. Summary

- **Current phase**: [CURRENT_PHASE]
- **Current milestone**: [CURRENT_MILESTONE]
- **Current task**: [CURRENT_TASK]
- **Progress**: [ [PROGRESS_BAR] ] [DONE_TASKS]/[TOTAL_TASKS] Tasks ([PROGRESS_PERCENT]%)
